@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

[alt="img"] {
  width: 9vh;
  height: 9vh;
  margin-top: 10vh;
  margin-left: 25%;
  filter: drop-shadow(2px 4px 1px #2f4f4f);
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

* {
  font-family: "Bangers", cursive;
  text-decoration: none;
  color: #17151c;
  margin: 0;
  padding: 0;
}
h1 {
  background-size: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px black;
  color: #2f4f4f;
  text-shadow: #17151c 2px 2px 2px;
  display: flex;
  justify-content: center;
  width: 35%;
  background-image: url("./website_pics/code2.png");
  font-size: 8rem;
  margin-left: 33%;
  margin-top: 5%;
}
ul {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  flex-direction: column;
}

body ul li {
  display: table;
  margin: 0 auto;
  text-align: center;
}
.nav-wrapper {
  background-color: darkslategrey;
  min-height: 11vh;
  display: flex;
  flex-direction: column;
  font-size: 3vh;

  justify-content: space-around;
}

html {
  background-color: #15171c;
}
h2 {
  height: 5vh;
  width: 35vh;
  font-size: x-large;
  background-size: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px black;
  color: #2f4f4f;
  text-shadow: #17151c 2px 2px 2px;
  display: flex;
  padding-top: 10%;
  justify-content: space-around;

  background-image: url("./website_pics/code2.png");

  font-size: x-large;
}
