@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  font-family: "Bangers", cursive;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Bangers", cursive;
  font-size: 10vh;
  font-family: sans-serif;
  font-weight: 950;
  text-align: center;

  color: black;
  background-clip: text;
  font-family: "Bangers", cursive;
  text-shadow: 4px 4px 4px #2f4f4f;
}

html {
  background-color: #15171c;
}
h2 {
  text-align: center;
  font-size: x-large;
}
ul {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  flex-direction: column;
}

body ul li {
  display: table;
  margin: 0 auto;
  text-align: center;
}
.nav-wrapper {
  background-color: darkslategrey;
  min-height: 11vh;
  display: flex;
  flex-direction: column;
  font-size: 3vh;

  justify-content: space-around;
}
.boss {
  text-align: center;
  font-size: 7vh;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: start;
  background-size: 45%;

  filter: drop-shadow(5px 5px 10px #2f4f4f);
  font-family: "Bangers", cursive;
}
.boss:hover {
  font-family: "Bangers", cursive;
  text-decoration: none;
  border-radius: 25px;
  font-size: 7vh;
  background-size: 4em;
  background-image: url(./website_pics/orangefur.jpeg);
}
.MT:hover {
  font-family: "Bangers", cursive;
  text-decoration: none;
  border-radius: 25px;
  font-size: 6vh;
  background-size: 11rem;
  background-image: url(website_pics/thai2.jpg);
  width: 100%;
}
.MT {
  text-align: center;
  font-size: 6vh;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: start;
  background-size: 45%;

  filter: drop-shadow(5px 5px 10px #2f4f4f);
  font-family: "Bangers", cursive;
}
.stifi {
  text-align: center;
  font-size: 7vh;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: start;
  background-size: 45%;

  filter: drop-shadow(5px 5px 10px #2f4f4f);
  font-family: "Bangers", cursive;
}
.stifi:hover {
  font-family: "Bangers", cursive;
  background-size: 150%;
  background-position-y: center;
  background-position-x: center;
  background-image: url("./website_pics/stifipink.jpg");
  text-decoration: none;
  border-radius: 7px;
  width: 105vh;
  font-size: 7vh;
}

h2 {
  font-family: "Bangers", cursive;
  color: #2f4f4f;
  font-size: 3rem;
  text-shadow: 2px 2px 2px 2px black;
}
a {
  text-decoration: none;
  color: #17151c;
}
.Projects {
  text-align: center;
  font-size: 7vh;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: start;
  background-size: 45%;

  filter: drop-shadow(5px 5px 10px #2f4f4f);
  font-family: "Bangers", cursive;
}
.Projects:hover {
  font-family: "Bangers", cursive;
  text-decoration: none;

  border-radius: 25px;
  background-size: 100%;
  background-image: url(./website_pics/projects.jpg);
}

li {
  display: flex;
  justify-content: space-evenly;
}
footer {
  color: #15171c;
  text-align: center;
  opacity: 0.8;
  width: 100%;
}
[alt="icon1"] {
  max-height: 10vh;
  filter: drop-shadow(5px 7px 1px #17151c);
}
[alt="icon5"] {
  max-height: 10vh;
  max-width: 23vh;
  filter: drop-shadow(4px 8px 16px black);
}
footer {
  text-align: center;
  height: auto;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  background-color: #17151c;

  padding-top: 10px;
  z-index: 1;
}
footer img {
  max-height: 1%;
}
.iconcs {
  min-width: 5%;
  min-height: 5%;
}
