@import url("https://fonts.googleapis.com/css?family=Lato:300");
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
     border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.gradient-border{
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.flip-card-front {
    
  background-color: #bbb;
  color: black;#
  border-radius: 10px;
  background-color:transparent;
  border;
}
img{
     border-radius: 10px;
}

.flip-card-back {
  border-radius: 10px;
  background-color: #2980b9;
  color: white;
  box-shadow: 4px 4px 4px 4px black;
  transform: rotateY(180deg);
}
.container {
       border-radius: 10px;
  justify-content: space-evenly;
  display: flex;
}
h2 {

  text-align: center;
  font-size: x-large;
}
ul {
  
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

body ul li {
  display: table;
  margin: 0 auto;
  text-align: center;
}
.nav-wrapper {
  min-height: 11vh;
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  justify-content: space-around;
}
html {
  background-position: 2vh;
  background-size: 98%;
  background-image: url("./website_pics/drawing.jpg");
}
#button1{
  font-weight:bolder ;
  color: white;
  height: 100%;
  background-image: url(./website_pics/stifipink.jpg);
background-size: cover;

}
#button2{
  height: 100%;
  background-image: url(./website_pics/DF.jpg);
 background-size: cover;

}
#button3{
  background-position-x: right;
  background-image: url("./website_pics/crabs&dyl.jpg");
  height:100%;
  background-size: cover;
}
#button4{
  background-position-x: right;
  background-image: url("./website_pics/crabs&dyl.jpg");
  height:100%;
  background-size: cover;
}
#button5{
  background-position-x: right;
  background-image: url("./website_pics/crabs&dyl.jpg");
  height:100%;
  background-size: cover;
}